<div class="card">
    <div class="card-body">
        <h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
     error eaque facere illum doloremque sit quo tenetur. Ad, ex quasi ratione, 
    voluptas voluptatum iusto voluptatem, itaque a quae nemo dolore!</p>
    </div>
</div>