<div class="jumbotron mt-4">
<h1 class="display-4">Notes app nodejs y bd</h1>
<p class="lead">solo informacion importante .</p>
<hr class="my-4">
<p>si deceas saber mas por favor ingresa en Notas presionando el siguiente boton azul.</p>

<a href="http://localhost:3000/notes/add" class="btn btn-primary btn-lg">Notas</a>
</div>
