

<div class="register">
<h1 class="titulo">INGRESAR</h1>
CREA UNA CARPETA Y AGREGA LOS ESTILOS CUAL EL ES PROBLEMA? VESS
SI ESTALA CARPERTA AHI  VEO QUE ? ES5A SOLO DE LADO PERO ESTA LA CARPETA 
pero no puedo abrir para ingresar dentro de ella
</div>